.btn-gradient {
  position: relative;
  display: inline-block;
  color: white;
  overflow: hidden;
}

.btn-gradient::before {
  content: "";
  position: absolute;
  width: calc(100% * 2);
  height: calc(200% * 2);
  top: -150%;
  right: -50%;
  background: linear-gradient(to right, #7928ca, #ff0080);
  animation: gradientAnimation 0.5s infinite alternate-reverse;
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 0;
}

@keyframes gradientAnimation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}